<footer class="bg-dark text-white py-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>BBIG Designs</h5>
        <p>100% handcrafted belt buckles made in Colorado. Quality materials with unmatched craftsmanship.</p>
        <p>
          <a href="https://facebook.com" class="text-white me-2" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://instagram.com" class="text-white me-2" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://pinterest.com" class="text-white me-2" target="_blank"><i class="fab fa-pinterest-p"></i></a>
        </p>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <address>
          <p><i class="fas fa-map-marker-alt me-2"></i> PO Box 631546<br>Littleton, CO 80163</p>
          <p><i class="fas fa-phone me-2"></i> Garrett: 303-888-5067<br>Greg: 720-514-1610</p>
          <p><i class="fas fa-envelope me-2"></i> <a href="mailto:info@bbigdesigns.com" class="text-white">info@bbigdesigns.com</a></p>
        </address>
      </div>
      <div class="col-md-4">
        <h5>Shop & Inquire</h5>
        <ul class="list-unstyled">
          <li><a href="/shop/custom-golf-buckles" class="text-white">Custom Golf Buckles</a></li>
          <li><a href="/shop/custom-buckle-packages" class="text-white">Custom Buckle Packages</a></li>
          <li><a href="/shop/tournament-packages" class="text-white">Tournament Packages</a></li>
          <li><a href="/shop/semi-custom-buckle-packages" class="text-white">Semi-Custom Buckle Packages</a></li>
          <li><a href="/shop/semi-custom-bag-tags" class="text-white">Semi-Custom Bag Tags</a></li>
          <li><a href="/shop/divot-repair-tools" class="text-white">Divot Repair Tools</a></li>
          <li><a href="/shop/belts" class="text-white">Belts</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <p>&copy; {{currentYear}} BBIG Designs. All rights reserved.</p>
      </div>
      <div class="col-md-6 text-md-end">
        <p><a href="/privacy-policy" class="text-white">Privacy Policy</a> | <a href="/terms-of-service" class="text-white">Terms of Service</a></p>
      </div>
    </div>
  </div>
</footer>